body {
    background-image: url("/media/dreamyBackground.jpg");
    background-size: cover;
    
    font-family: "Tienne", serif;
  font-weight: 400;
  font-style: normal;
}

.container{
    background-color: rgba(160, 207, 225, 0.3);
    height: 570px;
    width: 1200px;
    margin: 80px;
    border: 1.5mm solid #F5D6DE;
    
}

.customCard{
    height: 206px;
    width:120px;
    background-color: #ffffff;
    margin: 27px;
    border-radius:7%;
    size: medium;
    margin-top:13px;
    
   
}

.currentTemp{
    color:#ffffff;
    font-size: 170px;
    margin-left: 10%;
   margin-bottom: -10px; 
   
    
    
}

.cardTemp{
    display:flex;
    justify-content: center;
    color:#B67FD7;
    font-size: 50px;
    margin-top: -10%;
}

.weekDay{
    margin-top: 7%;
    color:#B67FD7;
    font-size: 26px;
}

.dayOfWeek{
    font-size: 95px;
    color:#ffffff;

}

.citySearch{
    font-size: 40px;
    color: #ffffff;
    margin-left:400px;
    float:right;
   
}

#searchBar{
    background-color: rgba(160, 207, 225, 0.5);
    border: 1.2mm solid #F5D6DE;
    margin-top: 4.5px;
    height:38px;
    width:305px;
    float:right;
    
}

.highLow{
    font-size:18px;
    color:#ffffff;
    margin-top: 150px;

}



.time{
    color: #ffffff;
    font-size:18px;
    margin-top: 150px;

    position: fixed;
    top: 210px;
    left: 1150px;
    width: 90px;
    height: 70px;
}   
.city{
    color: #ffffff;
    font-size:18px;
    margin-top: 150px;

    position: fixed;
    top: 235px;
    left: 1150px;
    width: 90px;
    height: 70px;
}   


.hamburger-button {
    position: fixed;
    top: 20px;
    left: 70px;
    width: 90px;
    height: 70px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 1000;
    outline: none;
}

.line {
    display: block;
    width: 70px;
    height: 5px;
    background-color: #D5B1D2D9;
    margin: 8px auto;
}


.side-panel {
    position: fixed;
    top: 0;
    left: -400px; 
    width: 400px;
    height: 100%;
    background-color: #A0CFE1E5;
    transition: left 0.3s ease-in-out;
    z-index: 999;
    opacity: 0.9;
}

.side-panel ul {
    list-style-type: none;
    padding: 0;
}

.side-panel ul li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.side-panel ul li a {
    text-decoration: none;
    color: #000;
}


.side-panel.active {
    left: 0;
}

.forecast-icon {
    width: 110px; 
    height: 110px;
    background-image: url(""); 
   
    
  }

  .main-forecast-icon{
    width: 400px; 
    height: 400px;
    background-image: url("");

    position: fixed;
    top: 50px;
    left: 570px;
  }

  .favorite-item {
    cursor: pointer;
}

.color-white{
    color: white;
}

h3{
    color: white;
}